ACTSERV New Client Onboarding.json
{
  "name": "ACTSERV New Client Onboarding.",
  "nodes": [
    {
      "parameters": {
        "model": "devstral-medium-latest",
        "options": {
          "maxTokens": 100,
          "temperature": 0.7,
          "safeMode": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        160,
        304
      ],
      "id": "f8f27d12-5b89-47fa-87d1-033812a7dcdc",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "iDgomvGaGsH8Hz80",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        304
      ],
      "id": "972451be-303e-42f8-9570-8b7a32477afb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"John Doe\",\n  \"phone\": \"+254712345678\",\n  \"email\": \"johndoe@example.com\",\n  \"service\": \"Life Insurance\",\n  \"preferred_date\": \"2026-04-20\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        304
      ],
      "id": "6a36ea74-68fa-4e26-a11b-645672ac23eb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        80
      ],
      "id": "3bd752ac-eea1-4792-a16e-7598cd28f3d1",
      "name": "Step 1: New Client Reaches Out to the AI Agent.",
      "webhookId": "6bcc0c26-2f33-4ca1-85dd-3d0ad3028eb8"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a polite and professional booking assistant for an insurance firm called ACTSERV.\n\nYour role is to collect reservation details from new clients for their first consultation.\n\nYou MUST ask for ONE detail at a time, not all at once.\n\nConversation flow:\n\n1. Start by greeting the user and ask:\n   \"May I have your full name?\"\n\n2. After the user responds, store the answer and ask:\n   \"Please provide your phone number.\"\n\n3. Then ask:\n   \"Kindly share your email address.\"\n\n4. Then ask:\n   \"Which service are you interested in?\"\n   (Options: Life Insurance, Health Insurance, Pension Fund, Investment, IT Consultation Services)\n\n5. Then ask:\n   \"What is your preferred date for the first meeting?\"\n\nValidation rules:\n- Email must be in a valid format (example: name@example.com)\n- Phone number must contain only digits and may include a + country code\n- Service must match exactly one of the provided options\n\nIf a user provides invalid input:\n- Politely ask them to re-enter ONLY that specific field before continuing\n\nAfter collecting ALL details:\n- Display a clear summary of the booking\n- Thank the user for choosing ACTSERV\n- Inform them they will be contacted shortly for confirmation\n\nRules:\n- Be polite, respectful, and professional\n- Keep responses short and clear\n- Do NOT ask multiple questions at once\n- Do NOT skip steps\n- Do NOT go outside booking-related tasks",
          "maxIterations": 10,
          "batching": {
            "batchSize": 100
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        216,
        80
      ],
      "id": "0f877c3e-c41b-4371-b502-1511f316ec21",
      "name": "Step 2: New Client Info is collected and processed by the AI Agent"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    name: $input.first().json.output.name,\n    phone: $input.first().json.output.phone,\n    email: $input.first().json.output.email,\n    service: $input.first().json.output.service,\n    preferred_date: $input.first().json.output.preferred_date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        80
      ],
      "id": "b15b479b-3d68-4d00-91e1-eae5ebdcde43",
      "name": "Step 3: Pass New Client Info as Rows(Items)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0fc0533-845e-41f1-bce0-d2c401081626",
              "name": "timeStamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        80
      ],
      "id": "eaf9e62d-f9fb-4709-a335-1adca63ff0f8",
      "name": "Step 4: Adding Timestamp ."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "Life Insurance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c00c46b-848b-497b-838c-bf632ed3d6d7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c116a7e3-6522-466e-bb3e-e7c86ead68f1",
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "Health Insurance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "44218649-075f-40bc-85cc-bf2faed8643c",
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "Pension Fund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a474ae6-e5e5-4277-8ced-55df30aa39a9",
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "Investment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ecbf3464-bdbf-4066-8413-6e4b6da8cb53",
                    "leftValue": "={{ $json.service }}",
                    "rightValue": "IT Services",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1072,
        32
      ],
      "id": "22ee49ec-457c-47f5-a7f2-e4c579a3e2e5",
      "name": "Step 5: Routing New Clients based on Insuarance Type."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56034c3c-8e1c-4cf2-a778-84a3b07e0656",
              "name": "Assigned Staff",
              "value": "Shammah",
              "type": "string"
            },
            {
              "id": "8bb537c7-9056-44bc-a569-984ab03ea3da",
              "name": "Staff Email",
              "value": "shammahpatriciah@gmail.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        80
      ],
      "id": "d2c58df2-6722-4384-8620-8ab7df16bce6",
      "name": "Step 6: Assigning Staff based on Insurance Type."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1aTzlFF4O9MiqBQ0ySQ8uYHmriZR0nzNvT5DZYGdoIc8/edit?gid=1932433369#gid=1932433369",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1932433369,
          "mode": "list",
          "cachedResultName": "Healthcare Insurance Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aTzlFF4O9MiqBQ0ySQ8uYHmriZR0nzNvT5DZYGdoIc8/edit#gid=1932433369"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "preferred_date",
              "displayName": "preferred_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timeStamp",
              "displayName": "timeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Assigned Staff",
              "displayName": "Assigned Staff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Staff Email",
              "displayName": "Staff Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        80
      ],
      "id": "7c496dd6-a90e-4306-b8e6-abef381b115a",
      "name": "Step 7: Update Client Info on Sheets.(EDITABLE)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ztYfHRCIiWz2w4pJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "https://airtable.com/app1bw2bsuBzTLtJl/tbln9O3na8KawiLTq/viw8Z0KN5Z9q945Uo?blocks=hide",
          "mode": "url"
        },
        "table": {
          "__rl": true,
          "value": "tbln9O3na8KawiLTq",
          "mode": "list",
          "cachedResultName": "Healthcare Insurance Clients",
          "cachedResultUrl": "https://airtable.com/app1bw2bsuBzTLtJl/tbln9O3na8KawiLTq"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "linetpatriciah@gmail.com",
                  "value": "linetpatriciah@gmail.com"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Health Insurance",
                  "value": "Health Insurance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "preferred_date",
              "displayName": "preferred_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "15th April 2026",
                  "value": "15th April 2026"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timeStamp",
              "displayName": "timeStamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned Staff",
              "displayName": "Assigned Staff",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Shammah",
                  "value": "Shammah"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Staff Email",
              "displayName": "Staff Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "shammahpatriciah@gmail.com",
                  "value": "shammahpatriciah@gmail.com"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1744,
        80
      ],
      "id": "07fa441b-8fa4-41c1-8097-92e3fa8a5bfe",
      "name": "Step 8: Updating New Client Info to our Client Database",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "LqiyLGYzKGCyaycD",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.email }}",
        "subject": "LET'S GET YOU STARTED!!",
        "emailType": "text",
        "message": "=Dear {{ $json.fields.name }},\n\nThank you for signing up for the {{ $json.fields.service }} service.\n\nWe have setup an introductory meeting for you on {{ $json.fields.preferred_date }} at 10.00 AM GMT+3.\n\n{{ $json.fields['Assigned Staff'] }} will reach out via {{ $json.fields.phone }}.\n\nACTSERV\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1968,
        80
      ],
      "id": "e1b865b4-e123-4ea2-8af0-c2217378f136",
      "name": "Step 9 : Welcome Email to the Client",
      "webhookId": "1e2e89d7-3ad9-44fc-a6b7-090fe83acb15",
      "credentials": {
        "gmailOAuth2": {
          "id": "xktAfZoH5nWGkjLp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "linetpatriciah@gmail.com",
          "mode": "list",
          "cachedResultName": "linetpatriciah@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields['Staff Email'] }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2192,
        80
      ],
      "id": "8e37cc64-25d6-497c-9b13-8408f130bb2a",
      "name": "Step 10: Client Inductory Meeting.",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "566PMXd785bRA7uR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields['Staff Email'] }}",
        "subject": "New Client Details",
        "emailType": "text",
        "message": "=Dear {{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields['Assigned Staff'] }},\n\nYou have been assigned a new client:\n\nName : {{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields.name }},\nInsurance Service : {{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields.service }},\nMeeting Date : {{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields.preferred_date }},\nMeeting link: {{ $json.htmlLink }},\nClient Phone : {{ $('Step 8: Updating New Client Info to our Client Database').item.json.fields.phone }}.\n\nPlease prepare adequately for this session.\n\nACTSERV",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2416,
        80
      ],
      "id": "d09c15df-f98e-420c-9661-7fbc47d114a1",
      "name": "Step 11: Sending Message to Assigned Staff",
      "webhookId": "a5326225-da7a-489b-8e21-40f15b066db9",
      "credentials": {
        "gmailOAuth2": {
          "id": "xktAfZoH5nWGkjLp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "System : New Client Chatbot Syle Booking System.\n\nGoal : 1. Book incoming clients and store their data in a database.\n2. Send email to client & assigned staff plus book a calendar invite.\n\nVersion 1.0.1\nMade by : Linet\nDrafted on : 13th April 2026.",
        "height": 240,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -288
      ],
      "typeVersion": 1,
      "id": "86ac0b0c-6236-4065-8776-2a9318134553",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Step 2: New Client Info is collected and processed by the AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Step 2: New Client Info is collected and processed by the AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Step 2: New Client Info is collected and processed by the AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: New Client Reaches Out to the AI Agent.": {
      "main": [
        [
          {
            "node": "Step 2: New Client Info is collected and processed by the AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2: New Client Info is collected and processed by the AI Agent": {
      "main": [
        [
          {
            "node": "Step 3: Pass New Client Info as Rows(Items)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3: Pass New Client Info as Rows(Items)": {
      "main": [
        [
          {
            "node": "Step 4: Adding Timestamp .",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4: Adding Timestamp .": {
      "main": [
        [
          {
            "node": "Step 5: Routing New Clients based on Insuarance Type.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5: Routing New Clients based on Insuarance Type.": {
      "main": [
        [],
        [
          {
            "node": "Step 6: Assigning Staff based on Insurance Type.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 6: Assigning Staff based on Insurance Type.": {
      "main": [
        [
          {
            "node": "Step 7: Update Client Info on Sheets.(EDITABLE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 7: Update Client Info on Sheets.(EDITABLE)": {
      "main": [
        [
          {
            "node": "Step 8: Updating New Client Info to our Client Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 8: Updating New Client Info to our Client Database": {
      "main": [
        [
          {
            "node": "Step 9 : Welcome Email to the Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 9 : Welcome Email to the Client": {
      "main": [
        [
          {
            "node": "Step 10: Client Inductory Meeting.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 10: Client Inductory Meeting.": {
      "main": [
        [
          {
            "node": "Step 11: Sending Message to Assigned Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "550305d5-5878-45c8-8de9-ebf7eae85975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d1e892219c8c40fc0a63bad2e25e5d9e60671d62bd97060b60e8143d17c82d0"
  },
  "id": "ueG7JogHjfgtLjxx",
  "tags": []
}